.container{
    border: 1px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.skeletonHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}